## Deliverable 3. Create a Travel Itinerary Map.

In [51]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [52]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Monrovia,LR,86.0,broken clouds,6.30,-10.80,Eco-Hotel Hall & Restaurant
1,2,Gasa,PS,70.0,clear sky,31.50,34.47,رابطة الفنانين الفلسطينيين
2,4,Westview,US,73.0,few clouds,25.88,-80.24,MiLuSol Hostel
3,5,New Norfolk,AU,66.2,clear sky,-42.78,147.06,The Shingles Riverside Cottages
4,11,Dharmabad,IN,81.0,scattered clouds,18.90,77.85,LBS College's Boys Hostel

In [53]:
clean_hotel_df = pd.read_csv("WeatherPy_vacation.csv")

In [54]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [55]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
vacation_df.City.value_counts()

Vaitape            1
Pinhao             1
Mareeba            1
Charters Towers    1
Itaituba           1
                  ..
Jalu               1
Cap Malheureux     1
Maceio             1
Melong             1
Nobres             1
Name: City, Length: 341, dtype: int64

In [56]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="Soreang")]
vacation_end = vacation_df.loc[(vacation_df["City"]=="Soreang")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"]=="Brebes")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"]=="Bambanglipuro")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"]=="Kawalu")]

In [93]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
Soreang = (vacation_start['Lat'].to_numpy()[0],vacation_start["Lng"].to_numpy()[0])
Soreang = (vacation_end['Lat'].to_numpy()[0],vacation_end["Lng"].to_numpy()[0])
Brebes = (vacation_stop1['Lat'].to_numpy()[0],vacation_stop1["Lng"].to_numpy()[0])
Bambanglipuro = (vacation_stop2['Lat'].to_numpy()[0],vacation_stop2["Lng"].to_numpy()[0])
Kawalu = (vacation_stop3['Lat'].to_numpy()[0],vacation_stop3["Lng"].to_numpy()[0])

In [95]:
 #7.Create a direction layer map using the start and end latitude-longitude pairs, 
#and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
soreang2soreang_via_Brebes_Bambanglipuro_Kawalu = gmaps.directions_layer(
        Soreang, Soreang, waypoints=[Brebes,Bambanglipuro,Kawalu],
        travel_mode='DRIVING')
fig.add_layer(soreang2soreang_via_Brebes_Bambanglipuro_Kawalu)
fig

Figure(layout=FigureLayout(height='420px'))

In [97]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,400,Soreang,ID,72.66,overcast clouds,-7.03,107.52,Sutan Raja Hotel and Convention Centre
1,400,Soreang,ID,72.66,overcast clouds,-7.03,107.52,Sutan Raja Hotel and Convention Centre
2,102,Brebes,ID,80.71,scattered clouds,-6.87,109.04,Grand Dian Brebes
3,114,Bambanglipuro,ID,78.67,light rain,-7.95,110.28,Puri Brata
4,107,Kawalu,ID,73.38,light rain,-7.38,108.21,KOSAN UNGU UNSIK

In [98]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Maximum Temperature</dt><dd>{Max Temp}</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [99]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))